@model PaginatedList<project.NETMVC.Models.Product>

@{
    ViewData["Title"] = "Index" + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Sản phẩm</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Trang chủ</a>
                        <span>Sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Tìm kiếm..." name="SearchString" value="@ViewData["CurrentFilter"]">
                            <button type="submit" value="Search"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Phân Loại</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a href="#">Áo Thun (20)</a></li>
                                                <li><a href="#">Áo Polo</a></li>
                                                <li><a href="#">Áo Sơ Mi</a></li>
                                                <li><a href="#">Áo Jacket</a></li>
                                                <li><a href="#">Áo Hoodie</a></li>
                                                <li><a href="#">Áo Sweater</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Giá</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="#">150.000₫ - 250.000₫</a></li>
                                                <li><a href="#">250.000₫ - 350.000₫</a></li>
                                                <li><a href="#">350.000₫ - 450.000₫</a></li>
                                                <li><a href="#">450.000₫ - 550.000₫</a></li>
                                                <li><a href="#">Trên 550.000₫</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Kích Thước</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            <label for="xs">
                                                xs
                                                <input type="radio" id="xs">
                                            </label>
                                            <label for="sm">
                                                s
                                                <input type="radio" id="sm">
                                            </label>
                                            <label for="md">
                                                m
                                                <input type="radio" id="md">
                                            </label>
                                            <label for="xl">
                                                xl
                                                <input type="radio" id="xl">
                                            </label>
                                            <label for="2xl">
                                                2xl
                                                <input type="radio" id="2xl">
                                            </label>
                                            <label for="xxl">
                                                xxl
                                                <input type="radio" id="xxl">
                                            </label>
                                            <label for="3xl">
                                                3xl
                                                <input type="radio" id="3xl">
                                            </label>
                                            <label for="4xl">
                                                4xl
                                                <input type="radio" id="4xl">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Hiển thị 1–12 trên 125 kết quả</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <div>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]">Mặc định</a>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceUpSortParm"]">Thấp đến cao</a>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceDownSortParm"]">Cao đến thấp</a>
                                </div>
                                   
                                
                            </div>
                        </div>
                    </div>
                </div>
               
                    
                <div class="row">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item sale">
                                    <div class="product__item__pic set-bg" data-setbg="@item.Image">
                                       @if (@item.Discount == 1) {
                                        <span class="label">Sale</span>
                                       }
                                        <ul class="product__hover">
                                            <li>
                                                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.IdSp"><img src="~/assets/img/icon/search.png" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@item.Name</h6>
                                        <a href="#" class="add-cart">Thêm vào giỏ hàng</a>
                                        <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5>@item.Price₫</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                    
               
                    <div class="col-lg-12">
                        <div class="product_pagination">
                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }

                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @prevDisabled">
                                Trước
                            </a>
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @nextDisabled">
                                Sau
                            </a>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
<!-- Shop Section End -->
