@model project.NETMVC.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-inner">
    <div class="page-header">
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="fas fa-angle-right"></i>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Danh sách sản phẩm</a>
            </li>
            <li class="separator">
                <i class="fas fa-angle-right"></i>
            </li>
            <li class="nav-item">
                <span class="breadcrumb-item active">Thông tin sản phẩm : @Model.Name</span>
            </li>
        </ul>
    </div>

   

    <div class="card-body">
        <h4 class="card-title">Thông tin sản phẩm : @Model.Name</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.IdSp</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Mô tả ngắn:</td>
                        <td>@Model.ShortDescrip</td>
                    </tr>
                    <tr>
                        <td>Giá:</td>
                        <td>@Model.Price</td>
                    </tr>
                    <tr>
                        <td>Discount:</td>
                        <td>@Model.Discount</td>
                    </tr>
                    <tr>
                        <td>Trạng thái:</td>
                        <td>
                            @if (Model.Active)
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" checked="" disabled />
                                    <label for="switch-1"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" disabled />
                                    <label for="switch-1"></label>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Bestseller:</td>
                        <td>
                            @if (Model.BestSeller)
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" checked="" disabled />
                                    <label for="switch-1"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" disabled />
                                    <label for="switch-1"></label>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>HomeFlag:</td>
                        <td>
                            @if (Model.HomeFlag)
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" checked="" disabled />
                                    <label for="switch-1"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" disabled />
                                    <label for="switch-1"></label>
                                </div>
                            }

                        </td>
                    </tr>
                    <tr>
                        <td>Danh mục:</td>
                        <td>@Model.Cate.CatName</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.DateCreate</td>
                    </tr>
                    <tr>
                        <td>Ngày chỉnh sửa</td>
                        <td>@Model.DateModified</td>
                    </tr>
                    <tr>
                        <td>Ảnh đại diện:</td>
                        <td>
                            <img width="200" height="200" src="~/images/products/@Model.Thumb" alt="@Model.Name" />
                        </td>
                    </tr>
                    <tr>
                        <td>Video sản phẩm:</td>
                        <td>
                            <video controls="controls">
                                <source src="~/videos/products/@Model.Video" type="video/mp4" />
                            </video>
                        </td>
                    </tr>>
                    <tr>
                        <td>Mô tả sản phẩm:</td>
                        <td>@Html.Raw(Model.Descrip)</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
