@model project.NETMVC.Models.Order

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-inner">
    <div class="page-header">
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="fas fa-angle-right"></i>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">Danh sách đơn hàng</a>
            </li>
            <li class="separator">
                <i class="fas fa-angle-right"></i>
            </li>
            <li class="nav-item">
                <span class="breadcrumb-item active">Xóa đơn hàng #: @Model.OrderId</span>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <h4 class="card-title">Thông tin đơn hàng #: @Model.OrderId</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.OrderId</td>
                    </tr>
                    <tr>
                        <td>Tên khách hàng:</td>
                        <td>@Model.Custommer.FullName</td>
                    </tr>
                    <tr>
                        <td>Tình trạng thanh toán:</td>
                        <td>
                            @if (Model.Paid)
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" checked="" disabled />
                                    <label for="switch-1"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" disabled />
                                    <label for="switch-1"></label>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Ngày thanh toán:</td>
                        <td>@Model.PaymentDate</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo đơn:</td>
                        <td>@Model.OrderDate</td>
                    </tr>
                    <tr>
                        <td>Ngày giao đơn:</td>
                        <td>@Model.ShipDate</td>
                    </tr>
                    <tr>
                        <td>Trạng thái đơn hàng:</td>
                        <td>@Model.TransactStatus.Status</td>
                    </tr>
                    @*<tr>
                            <td>Tên sản phẩm:</td>
                            <td>@Model.OrderDetails.Product.Name</td>
                        </tr>
                        <tr>
                            <td>Số lượng:</td>
                            <td>@Model.OrderDetails.Quantity</td>
                        </tr>
                        <tr>
                            <td>Tổng tiền thanh toán:</td>
                            <td>@Model.OrderDetails.Total</td>
                        </tr>*@
                    <tr>
                        <td>Ghi chú:</td>
                        <td>@Html.Raw(Model.Note)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @* entype to upload file with condition *@
    <form asp-controller="AdminOrders" asp-action="Edit" method="post" asp-route-id="@Model.OrderId" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="OrderId" />
        <input type="hidden" asp-for="OrderDate" />
        <input type="hidden" asp-for="CustommerId" />
        <input type="hidden" asp-for="TransactStatusId" />
        <input type="hidden" asp-for="OrderDetailsId" />

        <div class="col-md-12">
            <div class="" page-header no-gutters has-tab">
                <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                    <div class="m-b-15" style="position: absolute; top: -500px; right: 10px;">
                        <button class="btn btn-primary" type="submit">
                            <i class="anticon anticon-save"></i>
                            <span>Save</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="switch m-r-10">
                    <input type="checkbox" asp-for="@Model.Deleted">
                    <label for="Deleted"></label>
                </div>
                <label>Xóa đơn hàng</label>
            </div>
        </div>
    </form>
</div>